.sidebar-nav {
  padding: 9px 0;
}

#phone {
  position: absolute;
}

#background {
  width: 357px;
  height: 684px;
}

#overlay {
  position: absolute;
  top: 122px;
  left: 37px;
  width: 320px;
  height: 480px;
}

#canvas {
  position: absolute;
  top: 122px;
  left: 37px;
  width: 320px;
  height: 480px;
}